.theme-default {
    --color-background: #000010;
    --color-font-main: #30d030;
    /* --color-primary: #333333;
    --color-layer1: #555555;
    --color-layer2: #777777;
    --color-font-header: #c4a116;
    --color-font-hex: #000000;
    --color-unselected-bg: #a3a2c5;
    --color-selected-bg: #4a46c7;
    --color-disabled: #333333;
    --color-empty: #555555;
    --color-button-primary: #008800;
    --color-button-warn: #884200;
    --color-button-disabled: #777777;
    --color-button-timer-empty: #2a2438;
    --color-button-timer-fill: #008800;
    --color-popup: #423a55; */
}