//- Following the freeCodeCamp.org tutorial on YouTube: https://youtu.be/kt3cEjjkCZA
//-  In the terminal, navigate to the fcc-intro directory
      enter "pug -w ./ -o ./html -P"
      That will Watch the current directory (automatically compile when the .pug file is saved)
        and Output to the /html directory with all the new lines and tabs to make it readable.

doctype html
html
  head
  body
    h1#pageTitle Welcome to my practice website!
    p.
      This a paragraph tag
      with multiple lines.
    ul.list
      li Item 1
      li Item 2
    .container
    //- defaults to div tag