.theme-default {
    --color-background: #ffffff;
    --color-wood: #af6817;
    --color-book-border: #000000;
    --color-pause-background: #22222280;
    --color-spinner-background: #444444;
    --color-spinner: #888888;
}