/** Author: Jesse Howell
 * 
 *  
 */

html {
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 10px;
}

body {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quilt-001 {
    --color1: #499fe1;
    --color2: #245aa0;
    --color3: #1e3350;
    --color4: #4e7a9b;
    --color5: #bfe5fa;
    --color6: #499fe1;
}