html {
    background-color: var(--color-background);
    color: var(--color-font-main);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

body {
    font-family: 'Nunito', sans-serif;
    width: auto;
    background-color: var(--color-primary);
    padding: 50px 125px;
    border-radius: 50px;
    flex-basis: 600px;
}

section {
    min-width: 600px;
    margin-bottom: 10px;
}

p {
    width: 600px;
}

h2 {
    color: var(--color-font-header);
    font-size: 20pt;
    font-weight: normal;
    font-family: "Playfair Display", serif;
    margin: 5px;
}

.clickable:hover {
    cursor: pointer;
}

.layer1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--color-layer1);
    border-radius: 30px;
    padding: 15px;
    height: auto;
    box-shadow: 3px 5px 5px #111111;
}

.disabled {
    background-color: var(--color-button-disabled);
}

.disabled:hover {
    cursor: default;
}

.hidden {
    display: none !important;
}

#mainTop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px;
}

#mainTopRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gridColumn {
    display: flex;
    flex-direction: row;
}

.gridContent {
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    background-color: #598646;
}

#mainBottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#selection {
    display: flex;
    flex-direction: row;
}

#buildingList {
    display: flex;
    flex-direction: column;
}

.building {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px;
    padding: 9px 20px 7px;
    border-radius: 15px;
    color: black;
}

.unselected {
    background-color: var(--color-unselected-bg);
}

.selected {
    background-color: var(--color-selected-bg);
}

.symbol {
    /* margin: 0px 20px; */
    margin-right: 10px;
    color: black;
    font-weight: 900;
}

#selectionDisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ioLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ioMiddle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ioTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ioCenter {
    padding: 30px;
    border-radius: 40%;
    background-color: #dddddd;
}

#ioBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ioRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.io-button {
    text-align: center;
    width: 15px;
    padding: 3px;
    border-radius: 5px;
    margin: 5px;
}

.input-button {
    background-color: hsl(200, 100%, 75%);
    color: hsl(200, 100%, 25%);
}

.output-button {
    background-color: hsl(25, 100%, 75%);
    color: hsl(25, 100%, 25%);
}

.input-selected {
    background-color: hsl(200, 100%, 50%);
    color: hsl(200, 100%, 25%);
}

.output-selected {
    background-color: hsl(25, 100%, 50%);
    color: hsl(25, 100%, 25%);
}